{% extends 'users/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block form_head %}
    <h3 class="mb-5">Login</h3>
{% endblock %}

{% block content %}
    <form  method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.non_field_errors}}
        <div class="form-group my-4">
            <button type="submit" class="btn btn-linear-primary btn-rounded px-5">Login</button>
        </div>
        <p>New member? <a href="{% url 'users:signup' %}" id="create_account">Create account</a></p>
    </form>
{% endblock %}
