{% load static %}

<!--Sidebar-->
<div class="sidebar transition overlay-scrollbars">
	<a href="{% url 'index' %}">
		<div class="logo">
			<h2 style="font-weight: 700;" class="mb-0">Stadia<span style="font-weight: 500;">Client</span></h2>
		</div>
	</a>

	<div class="sidebar-items">
		<div class="accordion" id="sidebar-items">
			<ul>
				<hr>
				<li>
					<a href="{% url 'user_dashboard:dashboard' %}" class="items">
						<div class="profile__settings">
							<img src="{{ user_profile.image.url }}" alt="Profile">
							<p>{{ user.username }}</p>
						</div>
					</a>
				</li>
				<hr>

				<li>
					<a href="{% url 'user_dashboard:search' %}" class="items">
						<i class="fas fa-search"></i>
						<span>Search</span>
					</a>
				</li>


				<li>
					<a href="{% url 'user_dashboard:all_events' %}" class="items">
						<i class="fas fa-ticket-alt"></i>
						<span>All Events</span>
					</a>
				</li>

				<li>
					<a href="{% url 'user_dashboard:programs' %}" class="items">
						<i class="fas fa-receipt"></i>
						<span>Programs</span>
					</a>
				</li>

				{% if user_profile.is_agent %}
					<li id="headingTwo">
						<a href="onclick();" class="submenu-items" data-toggle="collapse" data-target="#collapseTwo"
							aria-expanded="true" aria-controls="collapseTwo">
							<i class="fas fa-folder-open"></i>
							<span>Manage Events</span>
							<i class="fas la-angle-right"></i>
						</a>
					</li>
					<div id="collapseTwo" class="collapse submenu" aria-labelledby="headingTwo" data-parent="#sidebar-items">
						<ul>
							<li>
								<a href="{% url 'user_dashboard:create_event' %}" class="items">
									Create an Event
								</a>
							</li>
							<li>
								<a href="{% url 'user_dashboard:created_events' %}" class="items">
									View Created Events
								</a>
							</li>
						</ul>
					</div>
				{% endif %}

			</ul>
		</div>
	</div>
</div>

<div class="sidebar-overlay"></div>