{% extends 'dashboard/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block section %}Profile{% endblock %}

{% block content %}
  <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active1" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <form method="post" class="tab-pane fade active show" id="account-general">
              {% csrf_token %}
              <p class="mt-4 text-center">General:</p>

              <div class="card-body media align-items-center">
                <img src="{{ user_profile.image.url }}" alt="" class="d-block ui-w-80">
                <div class="media-body ml-4">
                  <label class="btn btn-outline-primary">
                    Upload new photo
                    {{ form.image|as_crispy_field }}
                  </label> &nbsp;
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <div class="form-group">
                 {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group">
                  {{ form.email|as_crispy_field }}
                </div>
                <div class="text-right mt-3">
                    <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                </div>
              </div>
            </form>

            <form method="post" class="tab-pane fade" id="account-change-password">
              {% csrf_token %}
              <p class="mt-4 text-center">Change Password : </p>

              <div class="card-body pb-2">
                {{ password_form|crispy }}
              <div class="text-right mt-3">
                  <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
              </div>

              </div>
            </form>


          </div>
      </div>
    </div>
  </div>
{% endblock %}
