{% extends 'dashboard/base.html' %}

{% block title %}Programs{% endblock %}

{% block section %}Programs{% endblock %}

{% block content %}
    <hr><h2 align="center">Booked Events</h2><hr><br>
    {% if tickets %}
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Event Name</th>
                  <th>Attendees</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Ticket</th>
                </tr>
              </thead>
              <tbody>
                {% for ticket in tickets %}
                <tr>
                  <td class="text-bold-500">{{ ticket.event.name }}</td>
                  <td>{{ ticket.event.attendance }}</td>
                  <td>{{ ticket.event.date.date }}</td>
                  <td>{{ ticket.event.date.time }}</td>
                  <td><button class="btn btn-outline-success"><a href="{% url 'user_dashboard:ticket' ticket.id %}">View Ticket</a></button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    {% else %}
        <p class="font-weight-bold" align="center">Your are not currently registered for any event
            <a href="#">View all events available now</a>
        </p>
    {% endif %}
{% endblock %}
